venv/
*.pyc
__pycache__/
/intro
/Image_Modeling_with_Keras/landuse_classification_EuroSat/data
/Image_Modeling_with_Keras/landuse_classification_EuroSat/tuner_results
/Image_Modeling_with_Keras/landuse_classification_EuroSat/temp_val_test_split
/Image_Modeling_with_Keras/*.keras
/Image_Modeling_with_Keras/building_SemSeg/data
/Image_Modeling_with_Keras/building_SemSeg/*.keras
/Image_Modeling_with_Keras/pano_SemSeg/data
/Image_Modeling_with_Keras/pano_SemSeg/logs
/Image_Modeling_with_Keras/pano_SemSeg/*.h5
/Image_Modeling_with_Keras/water_bodies/data
/Image_Modeling_with_PyTorch/water_bodies/*.pth