# TODO: pin up versions
scikit-learn
matplotlib
keras
tensorflow==2.17.0
pandas
rasterio
scikit-image
imantics
opencv-python-headless
albumentations>=0.3.0
segmentation-models==1.0.1
#efficientnet==1.1.1
tqdm==4.67.1